<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>edu.moravian.cslab.3d-printer-server</string>
    <key>ServiceDescription</key>
    <string>3D Printer Server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/butters/3d-print-server/3d-printer-server/run_server</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/butters/3d-print-server/output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/butters/3d-print-server/error.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>