[Unit]
Description=Runs 3D Printer Server
Requires=network.target

[Service]
Type=simple
ExecStart=/home/pi/3d-printer-server/server/run_server

[Install]
WantedBy=multi-user.target

