<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(name) }} Webcam Stream</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">
    <style> body { padding: 0; margin: 0; overflow: hidden; } video { max-width: 100%; max-height: 100%; } </style>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
        // simple function to play an HLS video URL in a <video> element
        function play_hls(url, elem) {
            if (Hls.isSupported()) {
                let hls = new Hls();
                hls.loadSource(url);
                hls.attachMedia(elem);
                hls.on(Hls.Events.MANIFEST_PARSED, () => { elem.play(); });
            } else if (elem.canPlayType('application/vnd.apple.mpegurl')) {
                elem.src = url;
                elem.addEventListener('loadedmetadata', () => { elem.play(); });
            }
        }
    </script>
</head>
<body>
    <video id="video"></video>
    <script>
        play_hls('{{ url_escape(name) }}.m3u8', document.getElementById('video'));
    </script>
</body>
</html>