<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ escape(name) }} Webcam Stream</title>
<style>body { padding: 0; margin: 0; }</style>
<!-- import hls.js library -->
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
// simple function to play an HLS video URL in a <video> element
function play_hls(url, elem) {
    if (Hls.isSupported()) {
        let hls = new Hls();
        hls.loadSource(url);
        hls.attachMedia(elem);
        hls.on(Hls.Events.MANIFEST_PARSED, () => { elem.play(); });
    } else if (elem.canPlayType('application/vnd.apple.mpegurl')) {
        elem.src = url;
        elem.addEventListener('loadedmetadata', () => { elem.play(); });
    }
}
</script>
</head>
<body>
<!-- video element -->
<video id="video"></video>
<script>
// play the video
play_hls('{{ url_escape(name) }}.m3u8', document.getElementById('video'));
</script>
</body>
</html>